<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <p>
        <a href="/">Home</a>
        <a href="/addBook">Add Book</a>
        <a href="/listBooks">List Books</a>
        <a href="/deleteBook">Delete Book</a>
        <a href="/addAuthor">Add Author</a>
        <a href="/listAuthors">List Authors</a>
        <a href="/updateAuthor">Update Authors</a>
    </p>

    <form action="/addauthordata" method="POST">
        <div class="container">
            <h1>Add Author</h1>
            <hr>
            <label for="firstName"><b>First Name</b></label>
            <input type="text" name="firstName" id="firstName" required>

            <label for="lastName"><b>Last Name</b></label>
            <input type="text" name="lastName" id="lastName">

            <label for="dob"><b>Date Of Birth</b></label>
            <input type="date" name="dob" id="dob">
            
            <label for="state"><b>State</b></label>
            <input type="text" name="state" id="state" minlength="2" maxlength="3" required>
            
            <label for="suburb"><b>Suburb</b></label>
            <input type="text" name="suburb" id="suburb">
            
            <label for="street"><b>Street</b></label>
            <input type="text" name="street" id="street">
            
            <label for="unit"><b>Unit</b></label>
            <input type="text" name="unit" id="unit">
            
            <label for="numBooks"><b>Number of Books</b></label>
            <input type="number" name="numBooks" id="numBooks" min="1" max="150" required>
            <hr>

            <button type="submit" class="submitbtn">Add Author</button>
        </div>
    </form>

</body>

</html>