<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <p>
        <a href="/">Home</a>
        <a href="/addBook">Add Book</a>
        <a href="/listBooks">List Books</a>
        <a href="/deleteBook">Delete Book</a>
        <a href="/addAuthor">Add Author</a>
        <a href="/listAuthors">List Authors</a>
        <a href="/updateAuthor">Update Authors</a>
      </p>    
    
    <form action="/deletebookdata" method="POST">
        <div class="container">
            <h1>Delete Book</h1>
            <hr>
            <label for="isbn"><b>ISBN</b></label>
            <input type="text" placeholder="13 Digit ISBN" name="isbn" id="isbn" required pattern="[0-9]{13}">
            <button type="submit" class="submitbtn">Delete Book</button>
        </div>
    </form>
</body>

</html>