<html>

<head>

    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
</head>

<body>
    <p>
        <a href="/">Home</a>
        <a href="/addBook">Add Book</a>
        <a href="/listBooks">List Books</a>
        <a href="/deleteBook">Delete Book</a>
        <a href="/addAuthor">Add Author</a>
        <a href="/listAuthors">List Authors</a>
        <a href="/updateAuthor">Update Authors</a>
    </p>

    <table>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Date</th>
            <th>Summary</th>
        </tr>
        <% for (let i=0; i<bookDb.length; i++){ %>
        <tr>
            <td><%= i+1 %> </td>
            <td><%= bookDb[i].title %> </td>
            <td><%= [bookDb[i].author.name.firstName, bookDb[i].author.name.lastName].join(' ') %> </td>
            <td><%= bookDb[i].isbn %> </td>
            <td><%= bookDb[i].dop %> </td>
            <td><%= bookDb[i].summary %></td>
        </tr>
        <%}%>
    </table>
    
</body>
</html>