<html>

<head>

    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
</head>

<body>
    <p>
        <a href="/">Home</a>
        <a href="/addBook">Add Book</a>
        <a href="/listBooks">List Books</a>
        <a href="/deleteBook">Delete Book</a>
        <a href="/addAuthor">Add Author</a>
        <a href="/listAuthors">List Authors</a>
        <a href="/updateAuthor">Update Authors</a>
    </p>

    <table>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date Of Birth</th>
            <th>State</th>
            <th>Suburb</th>
            <th>Street</th>
            <th>Unit</th>
            <th># Books</th>
            <th>ID</th>
        </tr>
        <% for (let i=0; i<authorDb.length; i++){ %>
        <tr>
            <td><%= i + 1 %> </td>
            <td><%= authorDb[i].name.firstName %> </td>
            <td><%= authorDb[i].name.lastName %> </td>
            <td><%= authorDb[i].dob %> </td>
            <td><%= authorDb[i].address.state %> </td>
            <td><%= authorDb[i].address.suburb %> </td>
            <td><%= authorDb[i].address.street %></td>
            <td><%= authorDb[i].address.unit %></td>
            <td><%= authorDb[i].numBooks %></td>
            <td><%= authorDb[i]._id %> </td>
        </tr>
        <%}%>
    </table>
    
</body>
</html>