<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <p>
        <a href="/">Home</a>
        <a href="/addBook">Add Book</a>
        <a href="/listBooks">List Books</a>
        <a href="/deleteBook">Delete Book</a>
        <a href="/addAuthor">Add Author</a>
        <a href="/listAuthors">List Authors</a>
        <a href="/updateAuthor">Update Authors</a>
    </p>

    <form action="/updateauthordata" method="POST">
        <div class="container">
            <h1>Update Author</h1>
            <hr>
            <label for="id"><b>ID</b></label>
            <input type="text" name="id" id="id" required>

            <label for="numBooks"><b>New Number of Books</b></label>
            <input type="number" name="numBooks" id="numBooks" min="1" max="150" required>
            <hr>

            <button type="submit" class="submitbtn">Update Author</button>
        </div>
    </form>
</body>

</html>